<% include ../partials/header %>
<% include ../partials/navbar %>


<h1> <%= company.name %></h1>

<img src="<%= company.image%>" alt="<%= company.name %> image">

<p><%= company.description %></p>

<% company.comments.forEach((comment, i) => { %>
	<p>Comment <%= i %><%= comment.text %></p>
<% }) %> 


<% for (let i= 0; i < company.comments; i++) { %>
	<p>Comment <%= i %><%= company.comments[i] %></p>
<% }; %> 

<% include ../partials/footer %>